# Telegram botu, job queue ve webhook desteği
python-telegram-bot[job-queue,webhooks]==20.7

# Ortam değişkenleri yüklemek için
python-dotenv==1.0.1

# HTTP istekleri (senkron ve asenkron)
requests==2.31.0
aiohttp==3.8.4

# Veri işleme ve sayısal hesaplama
pandas==2.3.1
numpy #numpy==2.2.6 da uyumsuzluk sorunu oluyor 

# Tarih ve zaman işlemleri
pytz==2025.2
dateparser==1.2.2

# Binance API
python-binance==1.0.29

# Finansal veri çekmek için yfinance
yfinance==0.2.37

# Render gibi ortamlarda keep-alive için Flask
Flask==2.3.2

# Özel keep_alive modülünüz varsa, bu dosya repo içinde olacak; pip ile gelmez
# keep_alive  # (bu satırı kaldır, dosyayı repo içine koy)

# varsa ek modüller
# granger matrix yapisi
statsmodels==0.14.1


