# Telegram ve görev zamanlayıcı
python-telegram-bot[job-queue,webhooks]==20.7

# Ortam değişkenleri için
python-dotenv==1.0.1

# HTTP istekleri
requests==2.31.0
aiohttp

# Veri işleme
pandas
numpy

# Zaman ve tarih işlemleri
pytz
dateparser

# Binance API
python-binance==1.0.29

# (Render gibi ortamlarda ping için - gerekiyorsa)
Flask==2.3.2
keep_alive  # varsa özel keep-alive.py dosyanız
